<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FinSql" value="c:\Program Files (x86)\Microsoft Dynamics NAV\90\RoleTailored Client\finsql.exe"/>
    <add key="Tools" value="C:\Program Files (x86)\Microsoft Dynamics NAV\90\RoleTailored Client\Microsoft.Dynamics.Nav.Model.Tools.psd1"/>
    <add key="ClientInstance" value="dynamicsnav://eh-x1t:9046/dynamicsnav90/CRONUS%20Danmark%20A%2FS"/>
    <add key="ObjectNoForBackup" value="50000" />
 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>